@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
:root {
    --heading: rgb(0 10 45);
    --para: #777777;
    --para-tint: #e4e4e4;
    --third: #fff;
    --overlay:#3e64ff;
    --helper: #8490ff;
    --helper-tint: #f3f4ff;
    --bg: rgb(249 249 255);
    --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
    --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
    --shadowSupport:0px 20px 20px 0px rgb(132 144 255 / 30%);
  }
  html{
     font-size: 62.5%;
  }
  h1,h2,h3,h4{
    font-family:"Poppins",sans-serif;
  }
 #logo{
  width:500px;

  height:150px;
  
  
 }
  

  h1{
    color: var(--heading);
    font-size:6rem;
    font-weight:600;
  }
  h3{
    font-size:1.8rem;
    font-weight:400;
    
  }
p{
    color:var(--para);
    line-height:1.6;
    font-size:1.7rem;

}
a{
    text-decoration:none;
   list-style:none; 
}


/* Header Section I am going to write below */
.header{
    padding:0 4.8rem;
    height:12rem;
    background-color:var(--bg);
    
    display:flex;
    justify-content:space-between;
    align-items:center;


}
.navbar-lists{
  display:flex;
  gap:48px;
}
.navbar-link:link,
.navbar-link:visited{
  display:inline-block;
  text-decoration:none;
  font-size :1.8rem;
  font-weight:500;
  text-transform:uppercase;
 color: black;
 transition:color 0.2s linear;
 /* SUHAS HERE WILL TRANSISTION THE COLOR IN 0.2s  */
  

}
/* THE DIFFERENCE BETWEEN HOVER AND ACTIVE IS ACTIVE IS ACTIVATED ONCE YOU PRESS IT OTHER WISE ITS HOVER ONLY */
.navbar-link:hover{
  color:var(--helper);


}
.navbar-link:active{
  color:var(--helper);

  text-decoration:underline;
}

.mobile-navbar-btn{
  display:none;
  background-color:transparent;
  cursor:pointer;
  border: none;
}

.mobile-nav-icon[name="close-outline"]{
  display:none;
}


/* STICKY NAVBAR */



/* HERO SECTION START */
/* RESUABLE CODE



*/
.section{
  padding:9rem 0;
} 

.container{
  max-width:140rem;
  margin:0 auto; 
}
.grid{
  display:grid;
  gap:9rem;
}
.grid-two-column{
  grid-template-columns:repeat(2,1fr);
  /* IT IS CREATING TWO COLUMNS ONE OF EACH WITH 1 FRACTION
  OF SPACE */
}
.grid-three-column{
  grid-template-columns:repeat(3,1fr);
  /* IT IS CREATING THREE  COLUMNS ONE OF EACH WITH 1 FRACTION
  OF SPACE */
}
.grid-four-column{
  grid-template-columns:repeat(4,1fr);
  /* IT IS CREATING FOUR COLUMNS ONE OF EACH WITH 1 FRACTION
  OF SPACE */
}
.btn{
  background:rgb(98 189 252);
  padding:1.6rem 3.3rem;
  border:none;
  color:var(--helper-tint);
  display:inline-block;
  text-transform:uppercase;
  font-size:1.8rem;
  font-weight:500;
  cursor:pointer;
  

}
.btn:hover,
.btn:active{
  /* box-shadow:0 2rem 2rem 0 rgb(132 144 255 / 30%); */
  box-shadow: var(--shadowSupport);
}
.section-hero{
  background-color:var(--bg);
}
.section-hero-data{
  display:flex;
  flex-direction:column;
  justify-content:center;

}
.hero-top-data{
 text-transform:uppercase;
 font-weight:500;
 font-size:1.5rem;
 color:var(--helper);
}
.hero-heading{
  text-transform: uppercase;
  font-weight:700;
  font-size:6.4rem;
}
.hero-para{
  margin-top:1.5rem;
  margin-bottom:5rem;
  max-width:60rem;
}
.section-hero-image{
  display:flex;
  justify-content:center;
  align-items:center;
}
.hero-img{
  max-width:75%;
}

/* BIO SECTION START */
.bio-image{
 display:flex;
 justify-content:center;
 align-items:center; 
}
 .bio-image img {
  width:80%;
  height:85%;
  box-shadow:-2rem -2rem 0 0 var(--helper);
  display:inline-block;
 
 }
 .common-heading{
  font-size:4.8rem;
  font-weight:600;
  margin-bottom:6rem;
  text-transform:capitalize;
  position:relative;
 } 
 .common-heading::before{
  content:"";
  position:absolute;
  top:110%;
 
  border-radius:50%;
  left:0;
  width:1.5rem;
  height:1.5rem; 
  background:var(--helper);
  
 }
 .common-heading::after{
  content:"";
  position:absolute;
  top:118%;
  left:1.7rem;
  min-width:20rem;
 
  height:0.3rem;
  background:var(--helper);

 }
 .bio-data-stats{
  display:flex;
  padding:6.4rem 0;
  flex-direction:column;
  gap:20px;

 }
 .bio-progress-bar{
     width:90%;
     height:0.8rem;
     background-color:var(--para-tint);
     box-shadow:var(--shadow) ;
     border-radius:10rem;
     position:relative;
 }
 .bio-progress-bar::before{

  content:"";
  position:absolute;
  top:0;
  left:0;
  width:80%;
  height:inherit;
  background:rgb(98 189 252);
  border-radius:10rem;
 }
 .bio-progress-2::before{
  width:80%;

 }
 .bio-progress-3::before{
  width:85%;
  
 }
 .bio-progress-4::before{
  width:80%;
  
 }
 .bio-progress-5::before{
  width:65%;
  
 }
 .bio-progress-bar span{
  position:absolute;
  top:1.8rem;
  width:4rem;
  height:2rem;
  background:var(--helper); 
  color:var(--white);
  display:flex;
  justify-content: center;
  align-items:center;
  border:none;
  outline:0;
  

 }
 .bio-progress-bar span{
  left:76%;
 }
 .bio-progress-2 span{
  left:76%;
 }

 .bio-progress-3 span{
  left:81%;
 }

 .bio-progress-4 span{
  left:76%;
 }

 .bio-progress-5 span{
  left:61%;
 }
/* HOW TO CREATE A CARETE */

.bio-progress-bar span::after{
  content:"";
  position:absolute;
  width:0;
  height:0;
  border:0.8rem solid var(--helper);
  border-color:transparent;
  border-bottom-color:var(--helper);
  top:-1.6rem;
  

}
/* PORTFOLIO SECTION START */
.section-portfolio{
  background-color: var(--bg);
  transition:all 0.5s linear;
}
.section-portfolio p{
  max-width:60rem;
}
.p-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:3.2rem;
  margin-top:6.4rem;
}
.portfolio-images{
  gap:3.2rem;
  margin-top:6.4rem;
}
.portfolio-images img{
  width:100%;
  height:300.83px;
  border-radius:7px;
  position:relative;
  overflow:hidden;

}
.img-overlay{
  position:relative;
  overflow:hidden;

}
.img-overlay .overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:var(--gradientSupport);
  /* opacity:0; */
  display:flex;
  justify-content:center;
  align-items:center;
  transform:translateY(100%);
  transition:all 0.3s linear;
  border-radius:7px;
}
.img-overlay:hover > .overlay{
transform:translateY(0);
background-color: var(--helper);

opacity: 0.8;
cursor:pointer;
}
.img-overlay .common-heading{
  margin:0;
  color:var(--helper-tint);
  text-decoration:none;

}
.p-btn:hover{
  transform:translateY(-1rem);
  transition: 0.4s linear;
}
.p-btn-active{
  transform:translateY(-1rem);
  transition: 0.3s linear;
}
.p-image-not-active{
  display:none
}
 /* 
 SERVICES SECTION STARTDSSSSSSSSSSS****************************************************************************
 
 
 */
.section-services {
  transition: all 0.7s linear;
}

.section-services p {
  max-width: 60rem;
}

.section-services .grid {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  grid-gap: 10rem; /* Row and column gap */
}

.service-box {
  text-align: center;
  box-shadow: var(--shadpw); /* Note: Typo corrected to --shadow */
  border-radius: 5px;
  padding: 6.4rem 3.4rem;
  transition: all 0.2s linear;
}

.service-box:hover {
  transform: translateY(-3rem);
}

.service-icon {
  width: 8rem;
  height: 8rem;
  background-color: rgba(144, 172, 209, 0.2); /* Note: RGBA format corrected */
  display: inline-block;
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  padding: 1.4rem 1.8rem;
  position: relative;
  color: var(--heading);
  animation: water-wave 3s linear infinite;
}

.service-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(11, 15, 20, 0.9);
  width: 90%;
  height: 90%;
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  background-color: transparent;
  animation: water-wave 5s linear infinite alternate;
}

@keyframes water-wave {
  0% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
  50% {
    border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
  }
  100% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
}

.service-box h3 {
  text-transform: capitalize;
  margin-top: 3rem;
  margin-bottom: 1rem;
}


.service-box h3 {
  text-transform: capitalize;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.section-freelancing {
  background-image: url("../images/3.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  position: relative;
  background-attachment: fixed;
}

.section-freelancing .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background-color: #3e64ff;
  opacity: 0.7;
}

.section-freelancing .container {
  position: relative;
}

.section-freelancing h2 {
  font-size: 5.4rem;
}

.section-freelancing h2 span {
  color: #a0f669;
}

.section-freelancing h2,
.section-freelancing p {
  color: var(--third);
  margin-bottom: 1.8rem;
}


/* CONTACT SECTION */
.section-contact-main {
  max-width: 70rem;
  margin: 0 auto;
  margin-top: 10rem;
}

.section-contact-main form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.section-contact-main .grid {
  gap: 2.4rem;
}

.section-contact-main input,
textarea {
  padding: 1.5rem 2rem;
  border: 0.1rem solid #c9c9c9;
  border-radius: 5px;
  width: 100%;
  font-size: 1.6rem;
  font-family: "work sans";
}

.section-contact-main textarea {
  height: 15rem;
}



.section-contact-main input[type="submit"] {
  max-width: 30%;
  border: none;
}


/* FOOTER SECTION 

*****************************************************

/*  */
.section-footer{
  background:var(--heading);
  transition:all 0.7s linear;

}
.section-footer h3{
  color:whitesmoke;
  margin-bottom: 4rem;
}

.f-about p{
color:#adadad;
}
.f-links ul, .fservices ul, .f-address address{
  display: flex;
  flex-direction: column;
  gap:1.8rem;
  justify-content:center;



}
.flinks li,
.f-links a,
.f-services li,
.f-services a{
  font-size:1.8rem;
  color:#adadad;
  text-transform:capitalize;
}
.f-links span,
.f-services span,
.f-address span{
  margin-right:10px;

}
.f-address p,
.f-address p a{
  font-style:normal;
  color:#adadad;

}
.f-social-icons{
  margin:5rem 0;
  text-align:center;
  color:adadad;
}
.f-social-icons .icons{
  width:4rem;
  height:4rem;
  background-color:#90acd133 ;
  display:inline-block;
  padding:1.4rem 1.8rem;
  color:whitesmoke;
  animation:water-wave 3s linear infinite;
}
.section-footer a:hover
{
  color:#3e64ff;
}

@media (max-width: 94em) {
  .container {
    max-width: 130rem;
  }
  .navbar-lists {
    gap: 3.4rem;
  }
}